@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Kx1Omt4gI5aMcV9U {
        height: auto;
        z-index: unset;
        min-height: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-ToP1y73DpSf7xjcF {
        width: 100%;
        max-width: unset;
        min-width: unset;
        min-height: unset;
        max-height: unset;
      }
      .ww-a-Ei9tS-fBM9eBqDyF {
        width: 100%;
        min-width: unset;
        min-height: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-d0 {
        background-color: var(--f400f9bb-cf6b-4016-9b53-2366436564a4,#FDF9C9);
      }
      .ww-s-d0 > .ww-section-element {
        padding: 20px 40px;
      }
      @media (max-width: 767px) {
        .ww-s-d0 > .ww-section-element {
          --ww-section-root-auto-align: initial;
          --ww-section-root-auto-width: initial;
        }
      }
      .ww-s-d0 > .ww-section-element.ww-layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-s-d0 > .ww-section-element.ww-layout {
          flex-flow: column;
        }
      }
      .ww-s-d1 {
        background-image: url("/images/motif.jpg?_wwcv=5");
        background-position: center center;
        background-size: 50%;
        background-repeat: repeat;
        background-attachment: scroll;
      }
      .ww-s-d1 > .ww-section-element {
        --ww-section-root-auto-align: center;
        --ww-section-root-auto-width: 100%;
        padding: 40px 32px;
        max-width: 1300px;
      }
      @media (max-width: 767px) {
        .ww-s-d1 > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 32px 0;
        }
      }
      .ww-s-d1 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-s-d1 > .ww-section-element.ww-layout {
          flex-flow: column;
          justify-content: flex-start;
          align-items: stretch;
        }
      }
      .ww-s-d2 {
        background-image: url("/images/motif.jpg?_wwcv=5");
        background-position: center center;
        background-size: 50%;
        background-repeat: repeat;
        background-attachment: scroll;
      }
      .ww-s-d2 > .ww-section-element {
        --ww-section-root-auto-align: center;
        --ww-section-root-auto-width: 100%;
        padding: 40px 16px;
        max-width: 1300px;
      }
      @media (max-width: 991px) {
        .ww-s-d2 > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 64px 16px;
        }
      }
      @media (max-width: 767px) {
        .ww-s-d2 > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 64px 16px;
        }
      }
      .ww-s-d2 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        gap: 48px 32px;
      }
      @media (max-width: 991px) {
        .ww-s-d2 > .ww-section-element.ww-layout {
          flex-flow: column;
          justify-content: flex-start;
          align-items: stretch;
        }
      }
      @media (max-width: 767px) {
        .ww-s-d2 > .ww-section-element.ww-layout {
          flex-flow: column;
          justify-content: flex-start;
          align-items: stretch;
        }
      }
      .ww-s-d3 {
        background-color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
      }
      .ww-s-d3 > .ww-section-element {
        padding: 40px 20px;
      }
      .ww-s-d3 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 20px;
      }
      .ww-s-d4 {
        background-image: url("/images/motif.jpg?_wwcv=5");
        background-position: center center;
        background-size: 50%;
        background-repeat: repeat;
        background-attachment: scroll;
      }
      .ww-s-d4 > .ww-section-element {
        --ww-section-root-auto-align: center;
        --ww-section-root-auto-width: 100%;
        padding: 40px 16px 80px;
        max-width: 1300px;
      }
      @media (max-width: 991px) {
        .ww-s-d4 > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 64px 16px;
        }
      }
      @media (max-width: 767px) {
        .ww-s-d4 > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 64px 16px;
        }
      }
      .ww-s-d4 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        gap: 32px;
      }
      @media (max-width: 991px) {
        .ww-s-d4 > .ww-section-element.ww-layout {
          flex-flow: column;
          justify-content: flex-start;
          align-items: stretch;
        }
      }
      @media (max-width: 767px) {
        .ww-s-d4 > .ww-section-element.ww-layout {
          flex-flow: column;
          justify-content: flex-start;
          align-items: stretch;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-szGDY7X6d4-VObWt {
        margin: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-GfbQibRQPgXgCmyn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4EJ5XMDtCfADOrfC {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-7dxAqErApSSqFalm {
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-xcvtKf9v4YXjru0H {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-qQmPdVFu42lqraLb {
        margin: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-DFbounEhTqa2dPIE {
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-EcPRTFa-z3CknBTy {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: block;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-UMuatBOai2i0Sewa {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrle4cgh7E0q5WYv {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-wepO1Mjw7DgHz3WK {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-LJSAAJA2gDzWAYve {
        margin: 0;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-11o189YJ-X9gY18t {
        z-index: unset;
        align-self: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Uds4CVZOBCUG_xSn {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-ljH8L-NBA1P26FqB {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-JHTUrsi5weKcajAQ {
        margin: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-d5 {
        width: 60px;
        height: auto;
        aspect-ratio: unset;
        --wwi-ar: unset;
      }
      .ww-e-d6 {
        width: 60px;
        height: auto;
        aspect-ratio: unset;
        --wwi-ar: unset;
      }
      .ww-e-d7 {
        padding: 12px;
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      @media (max-width: 991px) {
        .ww-e-d7 {
          padding: 0 32px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7 {
          margin: 48px 0 0;
          padding: 0;
        }
      }
      .ww-e-d8 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: var(--778025f9-7fd5-4257-af79-309f7672b288,#2b2d29);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d9 {
        font-size: 33px;
        font-family: Grandstander, cursive;
        font-weight: 500;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-d9 {
          font-size: 18px;
          line-height: 28px;
        }
      }
      .ww-e-dA {
        font-size: 21px;
        font-weight: 500;
        color: var(--3332ef0a-ac3e-4dfd-b390-9050cf538458,#71717A);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dB {
        font-size: 21px;
        font-weight: 500;
        color: var(--3332ef0a-ac3e-4dfd-b390-9050cf538458,#71717A);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dC {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        color: var(--3e2323fd-b086-4152-9037-ef1d1f22cad0,#FFFFFF);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dC {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .ww-e-dD {
        align-self: center;
        width: revert-layer;
      }
      .ww-e-dD.ww-layout, .ww-e-dD [data-ww-ls~="dD"] {
        display: flex;
        column-gap: 12px;
      }
      .ww-e-dE {
        width: 30px;
      }
      .ww-e-dF {
        margin: 12px;
        padding: 32px;
        background-color: var(--3e2323fd-b086-4152-9037-ef1d1f22cad0,#FFFFFF);
        border-radius: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dF {
          margin: 0 0 40px;
        }
      }
      .ww-e-dF.ww-layout, .ww-e-dF [data-ww-ls~="dF"] {
        display: flex;
        flex-flow: column;
        align-content: revert-layer;
        row-gap: 20px;
      }
      .ww-e-dG.ww-layout, .ww-e-dG [data-ww-ls~="dG"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dH.ww-layout, .ww-e-dH [data-ww-ls~="dH"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dI {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: var(--778025f9-7fd5-4257-af79-309f7672b288,#2b2d29);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dJ {
        flex: 0 1 auto;
        font-size: 33px;
        font-family: Grandstander, cursive;
        font-weight: 500;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dJ {
          font-size: 18px;
          line-height: 28px;
        }
      }
      .ww-e-dK {
        margin: 0 0 20px;
        font-size: 48px;
        font-family: Grandstander, cursive;
        line-height: 60px;
        font-weight: 500;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dK {
          margin: 0 0 16px;
          font-size: 40px;
          line-height: 44px;
        }
      }
      .ww-e-dL {
        padding: 0 32px;
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dL {
          padding: 0;
        }
      }
      .ww-e-dL.ww-layout, .ww-e-dL [data-ww-ls~="dL"] {
        display: flex;
        flex-flow: column;
        align-content: revert-layer;
      }
      .ww-e-dM {
        margin: 0 32px;
        width: 100%;
        border-radius: 20px;
      }
      .ww-e-dM.ww-layout, .ww-e-dM [data-ww-ls~="dM"] {
        display: flex;
        justify-content: center;
      }
      .ww-e-dN {
        width: var(--ww-section-root-auto-width, revert-layer);
        flex: 0 0 auto;
        max-width: 220px;
      }
      .ww-e-dO {
        width: 300px;
      }
      .ww-e-dP {
        font-size: 38px;
        font-family: Grandstander, cursive;
        text-align: right;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dQ {
        display: flex;
        width: var(--ww-section-root-auto-width, revert-layer);
        flex: 1 1 0px;
      }
      .ww-e-dQ.ww-layout, .ww-e-dQ [data-ww-ls~="dQ"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      .ww-e-dR.ww-layout, .ww-e-dR [data-ww-ls~="dR"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
      }
      .ww-e-dS {
        margin: 12px;
        padding: 32px;
        background-color: var(--3e2323fd-b086-4152-9037-ef1d1f22cad0,#FFFFFF);
        border-radius: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dS {
          margin: 0 0 40px;
        }
      }
      .ww-e-dS.ww-layout, .ww-e-dS [data-ww-ls~="dS"] {
        display: flex;
        flex-flow: column;
        align-content: revert-layer;
        row-gap: 20px;
      }
      .ww-e-dT.ww-layout, .ww-e-dT [data-ww-ls~="dT"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
      }
      .ww-e-dU {
        display: none;
        width: 300px;
      }
      .ww-e-dV {
        display: none;
        width: 300px;
      }
      .ww-e-dW {
        display: flex;
        width: var(--ww-section-root-auto-width, revert-layer);
        flex: 1 1 0px;
      }
      .ww-e-dW.ww-layout, .ww-e-dW [data-ww-ls~="dW"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      .ww-e-dX {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: var(--778025f9-7fd5-4257-af79-309f7672b288,#2b2d29);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dY {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: var(--778025f9-7fd5-4257-af79-309f7672b288,#2b2d29);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dZ {
        padding: 8px;
        z-index: 1;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 40px;
        height: 40px;
        background-color: #ffffffe6;
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        transform: translateY(-50%);
        border-radius: 50%;
      }
      .ww-e-dZ:where(:hover) {
        background-color: #fff;
        box-shadow: 0 4px 6px #00000026;
        transform: translate(4px, -50%);
      }
      .ww-e-da {
        font-size: 16px;
        line-height: 1.6;
        color: #374151;
        white-space-collapse: preserve;
      }
      .ww-e-db {
        font-size: 16px;
        line-height: 1.6;
        color: #374151;
        white-space-collapse: preserve;
      }
      .ww-e-dc {
        margin: 80px auto;
        padding: 0 24px;
        display: flex;
        max-width: 800px;
      }
      .ww-e-dc.ww-layout, .ww-e-dc [data-ww-ls~="dc"] {
        display: flex;
        flex-flow: column;
        gap: 24px;
      }
      .ww-e-dd {
        font-size: 16px;
        line-height: 1.6;
        color: #374151;
        white-space-collapse: preserve;
      }
      .ww-e-de {
        margin: -20px 6px 6px;
        position: revert-layer;
        inset: revert-layer;
        width: 16px;
        height: 16px;
        cursor: pointer;
        opacity: 0.6;
        transition: all 0.3s ease;
        border-radius: 100px;
      }
      .ww-e-de:where([data-ww-states~="jk5TuZ"]) {
        background-color: #3b82f680;
        opacity: 1;
        transform: scale(1.2);
      }
      .ww-e-df {
        padding: 0;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        height: 600px;
        background-color: #000;
        border-radius: 20px;
      }
      .ww-e-dg {
        width: 100%;
        height: 100%;
        --wwi-of: cover;
      }
      .ww-e-dh {
        width: 100%;
        height: 100%;
        --wwi-of: cover;
      }
      .ww-e-di {
        width: 100%;
        height: 100%;
        --wwi-of: cover;
      }
      .ww-e-dj {
        width: 100%;
        height: 100%;
        --wwi-of: cover;
      }
      .ww-e-dk {
        padding: 8px;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 20px;
        width: 40px;
        height: 40px;
        background-color: #ffffffe6;
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        transform: translateY(-50%);
        border-radius: 50%;
      }
      .ww-e-dk:where(:hover) {
        background-color: #fff;
        box-shadow: 0 4px 6px #00000026;
        transform: translate(-4px, -50%);
      }
      .ww-e-dl {
        width: 300px;
      }
      .ww-e-dm {
        width: 300px;
      }
      .ww-e-dn {
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        color: var(--3332ef0a-ac3e-4dfd-b390-9050cf538458,#71717A);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dn {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .ww-e-do {
        font-size: 21px;
        font-weight: 500;
        color: var(--778025f9-7fd5-4257-af79-309f7672b288,#2b2d29);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dp {
        font-size: 21px;
        font-weight: 500;
        color: var(--778025f9-7fd5-4257-af79-309f7672b288,#2b2d29);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dq {
        padding: 0 32px;
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dq {
          padding: 0;
        }
      }
      .ww-e-dq.ww-layout, .ww-e-dq [data-ww-ls~="dq"] {
        display: flex;
        flex-flow: column;
        align-content: revert-layer;
      }
      .ww-e-dr {
        font-size: 48px;
        font-family: Grandstander, cursive;
        line-height: 60px;
        font-weight: 500;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dr {
          margin: 0 0 16px;
          font-size: 40px;
          line-height: 44px;
        }
      }
      .ww-e-ds {
        margin: 0 0 40px;
        padding: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-ds {
          margin: 0 0 40px;
        }
      }
      .ww-e-ds.ww-layout, .ww-e-ds [data-ww-ls~="ds"] {
        display: flex;
        flex-flow: column;
        align-content: revert-layer;
        row-gap: 20px;
      }
      .ww-e-dt {
        margin: 0 0 40px;
        padding: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dt {
          margin: 0 0 40px;
        }
      }
      .ww-e-dt.ww-layout, .ww-e-dt [data-ww-ls~="dt"] {
        display: flex;
        flex-flow: column;
        align-content: revert-layer;
        row-gap: 20px;
      }
      .ww-e-du {
        width: 100%;
        height: 100%;
        --wwi-of: cover;
      }
      .ww-e-dv {
        width: 100%;
        aspect-ratio: 1;
        box-shadow: 0 8px 20px -4px #1d3f2214;
        border-radius: 16px;
        --wwi-ar: 1 / 1;
        --wwi-of: cover;
      }
      .ww-e-dw {
        margin: 0;
        height: 26px;
        font-size: 20px;
        font-family: Grandstander, cursive;
        line-height: 26px;
        font-weight: 600;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        white-space-collapse: preserve;
      }
      .ww-e-dx {
        width: 100%;
        aspect-ratio: 1;
        box-shadow: 0 8px 20px -4px #1d3f2214;
        border-radius: 16px;
        --wwi-ar: 1 / 1;
        --wwi-of: cover;
      }
      .ww-e-dy {
        margin: 0;
        font-size: 20px;
        font-family: Grandstander, cursive;
        line-height: 26px;
        font-weight: 600;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        white-space-collapse: preserve;
      }
      .ww-e-dz {
        padding: 0 32px;
        display: grid;
        width: 100%;
      }
      @media (max-width: 991px) {
        .ww-e-dz {
          padding: 0 32px;
          display: grid;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dz {
          margin: 32px 0 0;
          padding: 0;
          display: grid;
        }
      }
      .ww-e-dz.ww-layout, .ww-e-dz [data-ww-ls~="dz"] {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 36px 24px;
      }
      @media (max-width: 991px) {
        .ww-e-dz.ww-layout, .ww-e-dz [data-ww-ls~="dz"] {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 28px 20px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dz.ww-layout, .ww-e-dz [data-ww-ls~="dz"] {
          display: grid;
          grid-template-columns: 1fr;
          gap: 24px 16px;
        }
      }
      .ww-e-d10 {
        display: flex;
        cursor: pointer;
        transition: transform 0.25s ease;
      }
      .ww-e-d10:where(:hover) {
        transform: translateY(-4px);
      }
      .ww-e-d10.ww-layout, .ww-e-d10 [data-ww-ls~="d10"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 14px;
      }
      .ww-e-d11 {
        display: flex;
        cursor: pointer;
        transition: transform 0.25s ease;
      }
      .ww-e-d11:where(:hover) {
        transform: translateY(-4px);
      }
      .ww-e-d11.ww-layout, .ww-e-d11 [data-ww-ls~="d11"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 14px;
      }
      .ww-e-d12 {
        display: flex;
        cursor: pointer;
        transition: transform 0.25s ease;
      }
      .ww-e-d12:where(:hover) {
        transform: translateY(-4px);
      }
      .ww-e-d12.ww-layout, .ww-e-d12 [data-ww-ls~="d12"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 14px;
      }
      .ww-e-d13 {
        width: 100%;
        aspect-ratio: 1;
        box-shadow: 0 8px 20px -4px #1d3f2214;
        border-radius: 16px;
        --wwi-ar: 1 / 1;
        --wwi-of: cover;
      }
      .ww-e-d14 {
        display: flex;
        cursor: pointer;
        transition: transform 0.25s ease;
      }
      .ww-e-d14:where(:hover) {
        transform: translateY(-4px);
      }
      .ww-e-d14.ww-layout, .ww-e-d14 [data-ww-ls~="d14"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 14px;
      }
      .ww-e-d15 {
        display: flex;
        cursor: pointer;
        transition: transform 0.25s ease;
      }
      .ww-e-d15:where(:hover) {
        transform: translateY(-4px);
      }
      .ww-e-d15.ww-layout, .ww-e-d15 [data-ww-ls~="d15"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 14px;
      }
      .ww-e-d16 {
        display: flex;
        cursor: pointer;
        transition: transform 0.25s ease;
      }
      .ww-e-d16:where(:hover) {
        transform: translateY(-4px);
      }
      .ww-e-d16.ww-layout, .ww-e-d16 [data-ww-ls~="d16"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 14px;
      }
      .ww-e-d17 {
        display: flex;
        cursor: pointer;
        transition: transform 0.25s ease;
      }
      .ww-e-d17:where(:hover) {
        transform: translateY(-4px);
      }
      .ww-e-d17.ww-layout, .ww-e-d17 [data-ww-ls~="d17"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 14px;
      }
      .ww-e-d18 {
        width: 100%;
        aspect-ratio: 1;
        box-shadow: 0 8px 20px -4px #1d3f2214;
        border-radius: 16px;
        --wwi-ar: 1 / 1;
        --wwi-of: cover;
      }
      .ww-e-d19 {
        display: flex;
        cursor: pointer;
        transition: transform 0.25s ease;
      }
      .ww-e-d19:where(:hover) {
        transform: translateY(-4px);
      }
      .ww-e-d19.ww-layout, .ww-e-d19 [data-ww-ls~="d19"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 14px;
      }
      .ww-e-d1A {
        width: 100%;
        aspect-ratio: 1;
        box-shadow: 0 8px 20px -4px #1d3f2214;
        border-radius: 16px;
        --wwi-ar: 1 / 1;
        --wwi-of: cover;
      }
      .ww-e-d1B {
        margin: 0;
        font-size: 20px;
        font-family: Grandstander, cursive;
        line-height: 26px;
        font-weight: 600;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        white-space-collapse: preserve;
      }
      .ww-e-d1C {
        margin: 0;
        font-size: 20px;
        font-family: Grandstander, cursive;
        line-height: 26px;
        font-weight: 600;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        white-space-collapse: preserve;
      }
      .ww-e-d1D {
        margin: 0;
        font-size: 20px;
        font-family: Grandstander, cursive;
        line-height: 26px;
        font-weight: 600;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        white-space-collapse: preserve;
      }
      .ww-e-d1E {
        margin: 0;
        font-size: 20px;
        font-family: Grandstander, cursive;
        line-height: 26px;
        font-weight: 600;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        white-space-collapse: preserve;
      }
      .ww-e-d1F {
        margin: 0;
        font-size: 20px;
        font-family: Grandstander, cursive;
        line-height: 26px;
        font-weight: 600;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        white-space-collapse: preserve;
      }
      .ww-e-d1G {
        margin: 0;
        font-size: 20px;
        font-family: Grandstander, cursive;
        line-height: 26px;
        font-weight: 600;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        white-space-collapse: preserve;
      }
      .ww-e-d1H {
        width: 100%;
        aspect-ratio: 1;
        box-shadow: 0 8px 20px -4px #1d3f2214;
        border-radius: 16px;
        --wwi-ar: 1 / 1;
        --wwi-of: cover;
      }
      .ww-e-d1I {
        width: 100%;
        aspect-ratio: 1;
        box-shadow: 0 8px 20px -4px #1d3f2214;
        border-radius: 16px;
        --wwi-ar: 1 / 1;
        --wwi-of: cover;
      }
      .ww-e-d1J {
        width: 100%;
        aspect-ratio: 1;
        box-shadow: 0 8px 20px -4px #1d3f2214;
        border-radius: 16px;
        --wwi-ar: 1 / 1;
        --wwi-of: cover;
      }
      .ww-e-d1K {
        width: revert-layer;
        border-radius: 20px;
      }
      .ww-e-d1L {
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        color: var(--3332ef0a-ac3e-4dfd-b390-9050cf538458,#71717A);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-d1L {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .ww-e-d1M.ww-layout, .ww-e-d1M [data-ww-ls~="d1M"] {
        display: flex;
        gap: 40px;
      }
      .ww-e-d1N {
        font-size: 38px;
        font-family: Grandstander, cursive;
        text-align: left;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
    }
  }
  @layer custom {
    .ww-e-dM {
      overflow: hidden;
    }
    .ww-e-df {
      align-items: center;
      justify-content: center;
    }
  }
}
@layer ww-style-layout-override {
}
