@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Kx1Omt4gI5aMcV9U {
        height: auto;
        z-index: unset;
        min-height: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-ToP1y73DpSf7xjcF {
        width: 100%;
        max-width: unset;
        min-width: unset;
        min-height: unset;
        max-height: unset;
      }
      .ww-a-Ei9tS-fBM9eBqDyF {
        width: 100%;
        min-width: unset;
        min-height: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-d0 {
        background-color: var(--f400f9bb-cf6b-4016-9b53-2366436564a4,#FDF9C9);
      }
      .ww-s-d0 > .ww-section-element {
        padding: 60px 40px;
      }
      .ww-s-d0 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: center;
      }
      .ww-s-d1 {
        background-image: url("/images/625669d3-0b73-422b-9ca9-6b2bb5559d7f.jpeg?_wwcv=4");
        background-position: center center;
        background-size: contain;
        background-repeat: repeat;
        background-attachment: scroll;
      }
      .ww-s-d1 > .ww-section-element {
        --ww-section-root-auto-align: center;
        --ww-section-root-auto-width: 100%;
        padding: 40px 16px;
        max-width: 1300px;
      }
      @media (max-width: 767px) {
        .ww-s-d1 > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 32px 0;
        }
      }
      .ww-s-d1 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-s-d1 > .ww-section-element.ww-layout {
          flex-flow: column;
          justify-content: flex-start;
          align-items: stretch;
        }
      }
      .ww-s-d2 {
        background-image: url("/images/625669d3-0b73-422b-9ca9-6b2bb5559d7f.jpeg?_wwcv=4");
        background-position: center center;
        background-size: contain;
        background-repeat: repeat;
        background-attachment: scroll;
      }
      .ww-s-d2 > .ww-section-element {
        --ww-section-root-auto-align: center;
        --ww-section-root-auto-width: 100%;
        padding: 40px 16px;
        max-width: 1300px;
      }
      @media (max-width: 991px) {
        .ww-s-d2 > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 64px 16px;
        }
      }
      @media (max-width: 767px) {
        .ww-s-d2 > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 64px 16px;
        }
      }
      .ww-s-d2 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        gap: 48px 32px;
      }
      @media (max-width: 991px) {
        .ww-s-d2 > .ww-section-element.ww-layout {
          flex-flow: column;
          justify-content: flex-start;
          align-items: stretch;
        }
      }
      @media (max-width: 767px) {
        .ww-s-d2 > .ww-section-element.ww-layout {
          flex-flow: column;
          justify-content: flex-start;
          align-items: stretch;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-szGDY7X6d4-VObWt {
        margin: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-GfbQibRQPgXgCmyn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-0196u6vQjAePVbDF {
        margin: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4EJ5XMDtCfADOrfC {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-7dxAqErApSSqFalm {
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-qQmPdVFu42lqraLb {
        margin: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-xcvtKf9v4YXjru0H {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-EcPRTFa-z3CknBTy {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: block;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-UMuatBOai2i0Sewa {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-d3 {
        width: 80px;
        height: unset;
        aspect-ratio: 1;
        --wwi-ar: 1;
      }
      .ww-e-d4 {
        width: 80px;
        height: unset;
        aspect-ratio: 1;
        --wwi-ar: 1;
      }
      .ww-e-d5 {
        padding: 0 32px;
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      @media (max-width: 991px) {
        .ww-e-d5 {
          padding: 0 32px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d5 {
          margin: 48px 0 0;
          padding: 0;
        }
      }
      .ww-e-d6 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: #71717a;
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d7 {
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        color: var(--3332ef0a-ac3e-4dfd-b390-9050cf538458,#71717A);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-d7 {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .ww-e-d8 {
        font-size: 33px;
        font-family: Grandstander, cursive;
        font-weight: 500;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-d8 {
          font-size: 18px;
          line-height: 28px;
        }
      }
      .ww-e-d9 {
        font-size: 21px;
        font-weight: 500;
        color: var(--778025f9-7fd5-4257-af79-309f7672b288,#2b2d29);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dA {
        font-size: 21px;
        font-weight: 500;
        color: var(--778025f9-7fd5-4257-af79-309f7672b288,#2b2d29);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dB {
        padding: 0 32px;
        align-self: center;
        width: revert-layer;
      }
      .ww-e-dB.ww-layout, .ww-e-dB [data-ww-ls~="dB"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dC {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        color: var(--778025f9-7fd5-4257-af79-309f7672b288,#2b2d29);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dC {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .ww-e-dD {
        align-self: flex-start;
      }
      .ww-e-dD.ww-layout, .ww-e-dD [data-ww-ls~="dD"] {
        display: flex;
        column-gap: 12px;
      }
      .ww-e-dE {
        width: 30px;
      }
      .ww-e-dF {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: #71717a;
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dG {
        margin: 0 0 40px;
        padding: 8px;
      }
      @media (max-width: 767px) {
        .ww-e-dG {
          margin: 0 0 40px;
        }
      }
      .ww-e-dG.ww-layout, .ww-e-dG [data-ww-ls~="dG"] {
        display: flex;
        flex-flow: column;
        align-content: revert-layer;
        row-gap: 20px;
      }
      .ww-e-dH.ww-layout, .ww-e-dH [data-ww-ls~="dH"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dI {
        margin: 0 0 40px;
        padding: 8px;
      }
      @media (max-width: 767px) {
        .ww-e-dI {
          margin: 0 0 40px;
        }
      }
      .ww-e-dI.ww-layout, .ww-e-dI [data-ww-ls~="dI"] {
        display: flex;
        flex-flow: column;
        align-content: revert-layer;
        row-gap: 20px;
      }
      .ww-e-dJ {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: #71717a;
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dK.ww-layout, .ww-e-dK [data-ww-ls~="dK"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dL {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: #71717a;
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dM {
        font-size: 33px;
        font-family: Grandstander, cursive;
        font-weight: 500;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dM {
          font-size: 18px;
          line-height: 28px;
        }
      }
      .ww-e-dN {
        padding: 0 32px;
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dN {
          padding: 0;
        }
      }
      .ww-e-dN.ww-layout, .ww-e-dN [data-ww-ls~="dN"] {
        display: flex;
        flex-flow: column;
        align-content: revert-layer;
      }
      .ww-e-dO {
        margin: 0 0 20px;
        font-size: 48px;
        font-family: Grandstander, cursive;
        line-height: 60px;
        font-weight: 500;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        text-decoration-style: solid;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dO {
          margin: 0 0 16px;
          font-size: 40px;
          line-height: 44px;
        }
      }
      .ww-e-dP {
        padding: 0 32px;
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dP {
          padding: 0 16px;
        }
      }
      .ww-e-dP.ww-layout, .ww-e-dP [data-ww-ls~="dP"] {
        display: flex;
        justify-content: center;
      }
      .ww-e-dQ {
        width: 100%;
        height: unset;
        aspect-ratio: 2;
        background-image: url("/images/marita-mones-Dou2Hef67NA-unsplash.jpg?_wwcv=4");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dQ {
          height: 320px;
        }
      }
      .ww-e-dQ.ww-layout, .ww-e-dQ [data-ww-ls~="dQ"] {
        display: flex;
      }
      .ww-e-dR {
        width: var(--ww-section-root-auto-width, revert-layer);
        max-width: 500px;
      }
      .ww-e-dS {
        width: var(--ww-section-root-auto-width, revert-layer);
        font-size: 38px;
        font-family: Grandstander, cursive;
        color: var(--9dbb7ab8-0885-4057-85dd-4f5967175ee2,#1d3f22);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
